<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Learning bootstrap Demo</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>

	<div class="container">
		<div class="header">
			<div class="row">
				<div class="col-md-12">
					<h1>H1 Heading</h1>
					<p class="text-center">this is center</p>
				</div>

			</div>
		</div>
		<div class="center">
			<div class="row">
				<div class="col-md-2">
					<h1>left</h1>
					<ol>
						<li>a</li>
						
					</ol>
				</div>
				<div class="col-md-10">
					<h2>right</h2>
				</div>


			</div>
		</div>
		<div class="footer">
			<div class="row">
				<div class="col-md-12">
					<h3>footer</h3>
				</div>
			</div>
		</div>
	</div>

</body>
</html>