@import helper._
<html>
<head>
<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")"></script>
<script type="text/javascript" src="@routes.Application.loadJS()"></script>

<link rel="stylesheet" type="text/css" media="all" href="@routes.Assets.at("stylesheets/index.css")">
<!-- Latest compiled and minified CSS -->

<!-- Optional theme -->

<!-- Latest compiled and minified JavaScript -->
</head>

<body>

	<div id="container">
		<div id="header">
			<h2>WebSocket Demo Application</h2>
		</div>
		<div id="center">
			<div id="left"></div>
			<div id="right">


				<div id="messagewindow"></div>
			</div>
			<div class="clear"></div>
		</div>
		<div id="footer"></div>

	</div>
</body>
</html>

